.product-card {
    /* background-color: aqua; */
    border-bottom: 0.1rem solid rgba(168, 168, 168, 0.219);
}

.product-card td:first-child {
    text-align: center;
}

.product-card .td-image {
    margin: 0;
    width: 10.2rem;
}

.product-card .td-image figure {
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    width: 9rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 1rem;
    overflow: hidden; */
}

.product-card .td-image figure img{
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    border-radius: 1rem;
}

.product-card .edit{
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
}
.product-card .delete{
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
}

.product-card .edit:hover{
    color: blueviolet;
    /* color: white; */
} /* color: white; */

.product-card .delete{
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
}

.product-card .delete:hover{
    color: rgb(226, 43, 43);
    /* color: white; */
} 
