.main-container {
    /* background-color: aqua; */
    overflow-y: scroll;
}

.main-container h1{
    padding: 3rem;
    font-size: 3.6rem;
    color: white;
}

.main-container .products-container{
    padding: 3rem;
    margin: 0 3rem;
    border-radius: 1rem;
    background-color: rgb(8, 0, 19);
    color: white;
    font-size: 1.4rem;
}

.main-container .products-container .product-filters{
    display: flex;
    align-items: center;
}

.main-container .products-container .product-filters button{
    margin-left: 1rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: none;
    background-color: transparent;
    font-size: 5rem;
    cursor: pointer;
    color: white;
}

.main-container .products-container .product-search {
    width: 50%;
    display: flex;
    background-color: rgb(18, 0, 48);
    border: 0.2rem solid rgba(255, 255, 255, 0.116);
    border-radius: 1rem;
    overflow: hidden;
}

.main-container .products-container .product-search input{
    padding: 1.5rem;
    width: 90%;
    border: none;
    background-color: rgb(18, 0, 48);
    color: rgba(255, 255, 255, 0.671);
    font-size: 1.5rem;
}

.main-container .products-container .product-search input:focus{
    outline: none;
}

.main-container .products-container .product-search button{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 2.5rem;
    cursor: pointer;
}

.main-container .products-container table{
    width: 100%;
    border-collapse: collapse;
}

.main-container .products-container table .header-table{
    border-bottom: 0.1rem solid rgba(168, 168, 168, 0.219);
}

.not-found{
    padding: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    font-size: 7rem;
}

.main-container .products-container table .header-table td{
    padding: 2rem 0;
}

.main-container .products-container table .header-table td:not(:first-child) div{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.main-container .products-container table .header-table td:not(:first-child) div .icon-arrow{
    margin-left: 1rem;
}