.main-container {
    /* background-color: aqua; */
    overflow-y: scroll;
    /* position: relative; */
}

.main-container h1{
    padding: 3rem;
    font-size: 3.6rem;
    color: rgb(66, 66, 66);
}

.main-container .products-container{
    padding: 3rem;
    margin: 0 3rem 3rem 3rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-container .products-container .product-filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container .products-container .product-filters input{
    width: 50%;
    height: 100%;
}

.main-container .products-container .product-filters .action-btns{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.main-container .products-container .product-filters button{
    margin-left: 1rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: none;
    background-color: transparent;
    font-size: 5rem;
    cursor: pointer;
    /* color: white; */
}

.main-container .products-container .product-filters .excel-export-btn{
    font-size: 3.5rem;
    color: #43A047;
}
.main-container .products-container .product-filters .excel-btn{
    font-size: 3.5rem;
    color: #43A047;
}

.main-container .products-container input{
    padding: 1.5rem;
    width: 40%;
    border: 0.2rem solid rgba(0, 0, 0, 0.432);
    border-radius: 1rem;
    font-size: 1.5rem;
}

.main-container .products-container input:focus{
    outline: none;
    border: 0.2rem solid purple;
}

.main-container .products-container .product-search button{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 2.5rem;
    cursor: pointer;
}

.cancel-btn {
    color: rgb(122, 33, 204);
}
.main-container .products-container table{
    width: 100%;
    border-collapse: collapse;
}

.main-container .products-container table .header-table{
    border-bottom: 0.1rem solid rgba(168, 168, 168, 0.219);
}

.not-found{
    padding: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    color: purple;
}

.main-container .products-container table .header-table th{
    padding: 2rem 0;
}

.main-container .products-container table .header-table th:not(:first-child) div{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.main-container .products-container table .header-table th:not(:first-child) div .icon-arrow{
    margin-left: 1rem;
}